*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    font-style: normal;  
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-con{
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 19px;
    background-color: #ffffff;
}

h1{
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 576;
    font-style: normal;
    font-size: 2em;
}

.task-list, .add-buttons{
    background-color: #ffffff;
    width: 100%;
}

.add-buttons{
    padding: 6px;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    gap: 10px;
    border-bottom: 1px solid #adadad;
}

.add-buttons button{
    padding: 7px;
    border-radius: 9px;
    background-color: transparent;
    color: #adadad;
    border: 1px solid #adadad;
}

#press-btn{
    color: #ffffff;
    background-color:#4BC3F2;
    border: none;
}

.task-list{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.section{
    width: 100%;
}

.section-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
}

.arrow-box{
    width: 6%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title{
    font-size: 1.34em;
    font-weight: 900;
}

.task-title{
    display: flex;  
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.task{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.box-true{
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #65C0A9;
    border-radius: 20px;
    color: #65C0A9;
}

.box-false{
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #EB5A53;
    border-radius: 20px;
    color: #EB5A53;
}

.task-tag-0, .task-tag-1, .task-tag-7{
    padding: 8px;
    font-size: 0.80em;
    border-radius: 20px;
    background-color: #4BC3F2;
    color: #ffffff;
}

.task-tag-2{
    padding: 8px;
    font-size: 0.80em;
    border-radius: 20px;
    background-color: #9271D9;
    color: #ffffff;
}

.task-tag-3{
    padding: 8px;
    font-size: 0.80em;
    border-radius: 20px;
    background-color: #64C0A9;
    color: #ffffff;
}

.task-tag-4{
    padding: 8px;
    font-size: 0.80em;
    border-radius: 20px;
    background-color: #F28D35;
    color: #ffffff;
}

.task-tag-5{
    padding: 8px;
    font-size: 0.80em;
    border-radius: 20px;
    background-color: #D863A1;
    color: #ffffff;
}

.task-tag-6{
    padding: 8px;
    font-size: 0.80em;
    border-radius: 20px;
    background-color: #B0C926;
    color: #ffffff;
}