*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    font-style: normal;  
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-con{
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.container{
    width: 70%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 19px;
    background-color: #ffffff;
}

h1{
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 576;
    font-style: normal;
    font-size: 2em;
}

.task-list, .add-buttons{
    background-color: #ffffff;
    width: 100%;
}